body{
 margin: 0px; 
}
h1{
 margin-top: 0px;
}
.question{
  display: inline-block;
  padding-top: 33px;
  padding-left: 230px;
  color: rgba(20, 151, 140, 0.993);
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  font-size: 35px;
}
.topDiv{
 background-color: #D8F0F2;
  height: 120px;
  width: 100%;
}
.emoji{
 height: 80px;
 width: 80px;
 border-radius: 100%;
 margin-left: 140px;
 margin-top: 30px;
}
.newEmoji{
  height: 120px;
  width: 120px;
  border-radius: 100%;
  position: absolute;
  left: 550px;
  top: 70px;
}
.detailsEmoji1{
  height: 120px;
  width: 120px;
  border-radius: 100%;
  position: absolute;
  top: 40px;
  left: 90px;
}
.detailsEmoji2{
  height: 120px;
  width: 120px;
  border-radius: 100%;
  position: absolute;
  top: 40px;
  left: 120px;
}
.middleDiv{
 position: absolute;
 top: 120px;
 height: 330px;
 width: 100%;
 background-color: #D8F0F2;
}
.bottomDiv{
  position: absolute;
  background-color: #D8F0F2;
  width: 100%;
  top: 450px;
  height: 305px;
}
.nextDiv{
  position: absolute;
  top: 755px;
  width: 100%;
  height: 500px;
}
.newDiv{
  background-color: rgb(223, 215, 215);
  width: 60%;
  position: absolute;
  left: 250px;
  top: 1255px;
  height: 100px;
  border-radius: 6px;
}
.details{
  position: absolute;
  width: 60%;
  top: 1355px;
  left: 250px;
  height: 500px;
  background-color: white;
}
.help{
  position: absolute;
  top: 1855px;
  left: 315px;
  width: 50%;
  height: 170px;
  border-radius: 8px;
  background-color: #D8F0F2;
}
.info{
  position: absolute;
  top: 2025px;
  left: 315px;
  width: 50%;
  height: 70px;
  background-color: white;
}
.message{
  position: absolute;
  top: 2095px;
  height: 200px;
  width: 100%;
  background-color: white;
}
.bottomMost{
  position: absolute;
  top: 2295px;
  height: 150px;
  background-color: #D8F0F2;
  width: 100%;
}
.bottomMostPara1{
  display: inline-block;
  color: rgba(33, 165, 154, 0.993);
  padding-top: 40px;
  padding-left: 250px;
  font-size: 20px;
}
.bottomMostPara1:hover{
  color: rgba(8, 110, 102, 0.993);
  text-decoration: underline;
}
.bottomMostPara2{
  display: inline-block;
  color: rgba(33, 165, 154, 0.993);
  padding-top: 40;
  padding-left: 250px;
  font-size: 20px;
}
.bottomMostPara2:hover{
  color: rgba(8, 110, 102, 0.993);
  text-decoration: underline;
}
.bottomMostPara3{
  display: inline-block;
  color: rgba(33, 165, 154, 0.993);
  padding-top: 40;
  padding-left: 250px;
  font-size: 20px;
}
.bottomMostPara3:hover{
  color: rgba(8, 110, 102, 0.993);
  text-decoration: underline;
}
.messageMe{
  position: absolute;
  top: 30px;
  left: 510px;
  height: 50px;
  width: 230px;
  background-color: rgb(33, 218, 104);
}
.messageMe:hover{
  background-color: rgb(53, 182, 102);
}
.messageMeHeading{
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  color: rgb(12, 126, 88);
  padding-left: 60px;
}
.messageMeHeading:hover{
  color: rgb(106, 236, 156);
}
.infoPara1{
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(59, 59, 59);
  padding-left: 20px;
}
.span{
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(59, 59, 59);
  padding-left: 65px;
}
.helpHeading{
  display: inline-block;
  padding-top: 35px;
  padding-left: 210px;
  color: rgba(20, 151, 140, 0.993);
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bolder;
}
.helpPara{
  display: inline-block;
  padding-left: 150px;
  font: 20px;
  color: rgba(20, 151, 140, 0.993);
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
}
.detailsDiv1{
  position: absolute;
  width: 50%;
  height: 230px;
  background-color: white;
}
.detailsDiv2{
  position: absolute;
  left: 364px;
  width: 50%;
  height: 230px;
  background-color: white;
}
.detailsDiv3{
  position: absolute;
  top: 230px;
  background-color: white;
  height: 230px;
  width: 50%;
}
.detailsDiv4{
  position: absolute;
  top: 230px;
  left: 364px;
  width: 50%;
  height: 230px;
  background-color: white;
}
.detailsHeading1{
  display: inline-block;
  padding-top: 20px;
  padding-left: 40px;
  color: rgba(20, 151, 140, 0.993);
  font-family: 'Merriweather Sans', sans-serif;
}
.detailsPara1{
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(59, 59, 59);
  font-size: 15px;
}
.detailsPara2{
  display: inline-block;
  padding-left: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(59, 59, 59);
  font-size: 15px;
}
.heading{
 display: inline-block;
 position: relative;
 width: 380px;
 height: 35px;
 margin-top: 150px;
 margin-left: 300px;
 font-family: 'Sacramento', cursive;
 font-size: 80px;
 color: rgba(33, 165, 154, 0.993);
}
.firstpara{
 display: inline-block;
 position: relative;
 margin-top: 10px;
 margin-left: 47%;
 font-family: 'Merriweather Sans', sans-serif;
 font-weight: bold;
 color: rgba(33, 165, 154, 0.993);
}
.intro1{
  display: inline-block;
  position: absolute;
  left: 480px;
  top: 270px;
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(59, 59, 59);
}
.intro2{
  display: inline-block;
  position: absolute;
  left: 500px;
  top: 300px;
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(59, 59, 59);
}
.intro3{
  display: inline-block;
  position: absolute;
  left: 500px;
  top: 330px;
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(59, 59, 59);
}
.intro4{
  display: inline-block;
  position: absolute;
  left: 486px;
  top: 360px;
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(59, 59, 59);
}
.intro5{
  display: inline-block;
  position: absolute;
  left: 535px;
  top: 390px;
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(59, 59, 59);
}
.cloud1{
 position: relative;
 left: 930px;
}
.cloud2{
 position: relative;
 right: 530px;
 top: 20px;
}
.mountain{
 position: relative;
 left: 255px;
 background-color: #D8F0F2;
 height: 305px;
}
.Hi{
  display: inline-block;
  position: absolute;
  top: 210px;
  left: 597px;
  color: rgba(33, 165, 154, 0.993);
  font-family: 'Merriweather Sans', sans-serif;
}